*{
    font-family: 'Abel';
    line-height: 1.5;
    font-size: large;
}
body{
    background-color: #a9a9a914;
}
.border{
    padding: 20px;
    border: 1px solid rgb(18, 18, 83);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(18, 18, 83, .6);
    
}
.row{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}
.logo{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-image:url("../img/logo.JPG");
    background-size:100% 100%;
    float: left;
   
}

/* .brd{
    border-bottom: 1px solid #337ab7;   
}
.error{
    border-bottom: 1px solid red !important
} */

.form-groupEmail,.form-groupPass,.form-group{
    border-bottom: 1px solid rgb(18, 18, 83) ;
}
.form-group i{
    color: rgb(18, 18, 83);
}
/* Forget password & Check box */
.re-for{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
a{
    color:rgb(18, 18, 83);
    text-decoration-line: none;
    font-size: 14px;
}
.check{
    display: inline;  
}
label{
    font-size: 14px;
    color:#5c5757;
}
/* input */
.form-group input, select{
    width: 85%;
    border: none;
    outline: none;
    background: none;
    margin: 10px 0;
}
/* password div */
.pass{
    margin-bottom: 1px;
}
select{
    width: 99%;
}
.help-block{
    font-size: 14px;
}
.sel-mr{
    margin-bottom: 0px;
}
/* submit button */
.logBtn{
    margin:10px auto;
}
.btn{
    width: 40%;
    margin-left: 28%;
    margin-right: 28%;
    background-color: rgb(18, 18, 83);
    border: rgb(18, 18, 83);
    color: white;
}
.btn:focus {
    outline: none;
}
.btn:hover{
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(18, 18, 83, .6);
}
/* reset password  in forgot password */
.forgot-pass{
    margin-top: 50px;
    margin-bottom: 30px;
}
