body{
    position: relative;
}
*{
    box-sizing: border-box;
    font-family: 'Abel';

    font-size: large;
}
/* div that hold all links => to make links at the right end */
.collapse{
    justify-content: flex-end;
}

/* nav */
nav{
    /* background-color:rgb(61, 61, 170) !important ; */
    /* background:linear-gradient(90deg,rgb(61, 61, 170),#bcd1e9,rgb(61, 61, 170)); */
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 10px black;
}
.logoBox{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.logoBox img{
    border-radius: 50%;
}
.fa-house,
.fa-key,
.fa-user,
.fa-right-to-bracket{
    /* color: navy; */
    color:#5c6bc0 ;
    transform: scale(1.6);
    transition: all .3s ease-in-out;
}
.fa-house:hover,
.fa-key:hover,
.fa-user:hover,
.fa-right-to-bracket:hover{
    transform: scale(2);
}
.fa-house,
.fa-user,
.fa-key{
    margin-right: 50px;
}


/*content */

.page{
    min-height: calc(100vh - 160px);
    padding-bottom:40px;
    display: flex;
    justify-content: center;
    align-items: center;
}  
.container{
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(18, 18, 83, .6);

}

.container .bg-danger{
    box-sizing: border-box;
  
}
.bg-danger{
    border: solid 5px white;
    position: relative;
    height: 100px;
    background: #5c6bc0 !important;
    
}
.bg-danger a{
    text-decoration: none;
    font-weight: normal;
    color: black;
    opacity: 85%;
    font-weight: bold;
}
.parent{
    border-radius: 13px;
    height: 100px;
    width: 100px;
}
.parent a{
    display: block;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: white !important;
    
} 
.parent h4{
    font-weight: 500;
}
.hover{
display: none
}

.item-hover {

    display: block;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center; 
}
@media only screen and (max-width: 600px) {
    .parent{
        width: 67%;
        margin: auto;
    }
  }

/* footer */
        .footer{
            width: 100%;
            height: 70px;
            /* background:linear-gradient(90deg,rgb(61, 61, 170),#bcd1e9,rgb(61, 61, 170)); */
            box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 2px black;
            display: flex;
            align-items: center;
            justify-content: center;
            
            }
        .footer .fa-envelope , .footer .fa-user-group {  
            color: black;
            }
        .footer a {
            text-decoration: none;
            font-weight: normal;
            color: black;
            font-weight: bold;
            margin-left: 20px;
            }
                
            
            
    
        
    