*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: large;
}
/* div that hold all links => to make links at the right end */
.collapse{
    justify-content: flex-end;
}
nav{
    width: 100%;
    margin-left: auto;
    background:linear-gradient(90deg,rgb(61, 61, 170),#bcd1e9,rgb(61, 61, 170));
    /* box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 10px black; */
}
.logoBox{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.logoBox img{
    border-radius: 50%;
}
.fa-house,
.fa-key,
.fa-user,
.fa-right-to-bracket{
    transform: scale(1.6);
    transition: all .3s ease-in-out;
}
.fa-house:hover,
.fa-key:hover,
.fa-user:hover,
.fa-right-to-bracket:hover{
    transform: scale(2);
    background-color: transparent;
}
.fa-house,
.fa-key,
.fa-user{
    margin-right: 50px;
}
body{
    font-family:'Times New Roman', Times, serif;
}
.border{
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(18, 18, 83, .6);
}
#main{ 
    transition: margin-left 0.5s;
    padding: 20px;
    overflow: hidden;
    width: 100%;
    display: none;
}
.containeer{
    width: 100%;
    height: 100%;
    background-color: #ebebeb;
} 
.sidebar{
    z-index: 5;
    padding-top: 15%;
    width: 50px;
    height: 100%;
    background-color: #fff;
    float: left;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    white-space: nowrap;
    box-shadow: 0px 0px 20px #d4d4d4;
    transition: 0.3s ease;
}
.sidebar:hover{
    width:200px;
} 
.sidebar .menu-item{
    padding: 10px;
}
.sidebar .menu-item:hover{
    background-color: #d6d6d6;
    cursor: pointer;
}
.sidebar  li{
    list-style: none;
}
.sidebar .menu-item .fa-paper-plane,
.sidebar .menu-item .fa-inbox,
.sidebar .menu-item .fa-arrow-right,
.sidebar .menu-item .fa-home{
    font-size: 25px;
    width: 40px;
    padding: 5px ;
    color:rgb(156, 154, 154);
}
.sidebar a{
    padding: 15px; 
    text-decoration: none;
} 
.btn-close{
    position: absolute;
    bottom:  0;
    font-size: 30px;
    font-weight: 500;
    color:gray ;
} 
.side{
    display: none;
}
.open-slide svg{
    height: 30px;
}
.navbar a{
    
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.navbar ul{
    margin: 8px 0 0 0;
    list-style: none;
}
.form-control:focus{
    border:1px solid #838fcd;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #838fcd ;
}
h2{
    font-family: serif;
    color: navy;
    margin-bottom: 30px;
}
.side-nav{
    transform: translateY(35%);
    height: fit-content;
    width: 0;
    position: absolute;
    z-index: 1;
    left: 0;
    background-color: #111;
    opacity: 0,9;
    overflow-x: hidden;
    transition: 0.5s;
}
.side-nav a{
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    font-size: 22px;
    color: #ccc;
    display: block;
    transition: 0.3s;
}
.side-nav a:hover{
    color: #fff;
}
.side-nav .btn-close{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 36px;
    margin-left: 50px;
    
}
@media screen and (max-width: 568px) {
    .side {
    display: flex;
}
.sidebar{
    display: none;
}  

}
/* send btn */
.sendBtn{
    display: flex;
    justify-content: center;
}
#send-btn{
    background-color: rgb(61, 61, 170);
    border-color:rgb(61, 61, 170);
    width: 25%;
    margin-bottom: 10px;
    color: white;
}
.btn:hover{
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(18, 18, 83, .6);
}
.btn:focus {
    outline: none;
    border: none;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(61, 61, 170);
}
/* footer */
.footer{
    z-index: 10;
    position: absolute;
    width: 100%;
    height: 70px;
    background:linear-gradient(90deg,rgb(61, 61, 170),#bcd1e9,rgb(61, 61, 170));
    display: flex;
    align-items: center;
    justify-content: center;
    
    }
    .footer .fa-envelope , .footer .fa-user-group {  
        color: black;
        
    }
    .footer a {
            text-decoration: none;
            font-weight: normal;
            color: black;
            font-weight: bold;
            margin-left: 20px;
    }
        
    .page{
        min-height: calc(100vh - 150px);
        margin-bottom: 40px;
    } 
/* .......................... */
#z-potition{
    z-index: 998;
}
.sidebar .menu-item:hover .fa{
    color: navy !important;
    }
    .meua{
        transform: translateY(50%);
    }













