/* div that hold all links => to make links at the right end */
.collapse{
    justify-content: flex-end;
}
*{
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
    font-size: large;
}
nav{
    background:linear-gradient(90deg,rgb(61, 61, 170),#bcd1e9,rgb(61, 61, 170));
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 10px black;
}
.logoBox{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.logoBox img{
    border-radius: 50%;
}
nav i{
    transform: scale(1.6);
    transition: all .3s ease-in-out;
}
nav i:hover{
    transform: scale(2);
}
nav i{
    margin-right: 50px;
}
/* body */
body{
    background-color: rgba(221, 221, 221, 0.1);
}
i.photo{
    font-size: 100px;
    margin: auto;
    text-align: center;
    cursor: pointer;
}
.page{
    min-height: calc(100vh - 150px);
    padding-bottom:40px;
  
}  
h2{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
    font-family: serif;
    color: navy;
}
.fa-id-card{
    color: navy;
    transform: scale(1.65);
    /* to make it in the same height of h2 */
    vertical-align: middle;     
    margin-left: 6px;
}
.container{
    margin-top: 35px;
    margin-bottom: 25px;
}
.border{
    background-color: white;
    padding: 20px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(18, 18, 83, .6);
    border-radius: 2%;
}
.row{
    width: 100%;
    justify-content: center;
}
.form-control:focus{
    border:1px solid #838fcd;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #838fcd ;
}
/* upload photo */
.photo{
    color: #495057;
}
.image-preview{
    width: 150px;
    min-height: 150px;
    border: 2px solid #ddd;
    margin-bottom: 10px;
    margin-top: 30px;
    /* Text */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ccc;
    cursor: pointer;
}
.image-preview--image{
    display: none;
    width: 100%;
}
.fa-camera{
    transform: scale(3);
}
.file-center{
    margin-left: 30%;
}
/* send btn */
.sendBtn{
    display: flex;
    justify-content: center;
}
#send-btn{
    background-color: rgb(61, 61, 170);
    border-color:rgb(61, 61, 170);
    width: 25%;
    margin-bottom: 20px;
    color: white;
}
.btn:hover{
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(18, 18, 83, .6);
}
.btn:focus {
    outline: none;
    border: none;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(61, 61, 170);
}

/* footer */

.footer{
    width: 100%;
    height: 70px;
    background:linear-gradient(90deg,rgb(61, 61, 170),#bcd1e9,rgb(61, 61, 170));
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 10px black;
    display: flex;
    align-items: center;
    justify-content: center;
    
    }
    .footer .fa-envelope , .footer .fa-user-group {  
        color: black;
        
        }
        .footer a {
            text-decoration: none;
            font-weight: normal;
            color: black;
            font-weight: bold;
            margin-left: 20px;
        }
        
    