<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Edit profile</title>

    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/all.min.css">
    <link rel="stylesheet" href="../css/fontawesome.min.css">
    <link rel="stylesheet" href="../css/solid.min.css">
    <link rel="stylesheet" href="log.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
   
</head>
<body>

     <!-- navbar -->   
  <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
    <a class="navbar-brand" href="../home/home.html">
        <div class="logoBox">
            <img src="../img/logo.jpg" alt="logo" width="60" height="60">
        </div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="nav navbar-nav ">
          
          
             <!-- logout -->
             <li class="nav-item">
                <a class="nav-link" href="viewSt.html"><i class="fa-solid fa-arrow-right"></i></a>
            </li>
        </ul>
    </div>
</nav>



    <div class="container">
        <div class="row form ">
            <div class="col-sm-6">
                <div class="border">
                    <form action="">
                        <!-- Name -->
                        <div class="form-group form-groupEmail ">
                            <i class="fa-solid fa-user-pen"></i>
                            <input type="text" name="name" id="name" placeholder="Name">
                        </div>
                        <!-- Email -->
                        <div class="form-group form-groupEmail ">
                            <i class="fa fa-envelope fa-fw w3-hover-text-black w3-xlarge w3-margin-right  "></i>
                            <input type="email" name="" id="email" placeholder="Email">
                        </div>
                        <!-- Password -->
                        <div class="form-groupPass form-group pass">
                            <i class="fa fa-lock"></i>
                            <input  type="password" name="" id="pass" placeholder="Password">
                        </div>
                        <div class="re-for">
                            <!-- Remember me -->
                            <div>
                                <input class="check" type="checkbox" name="Remember me" id="Re">
                                <label for="Re">Remember me</label>
                            </div>
                            <!-- Forgot password -->
                            <a href="../forgot-password.html" target="-blank">Forgot password?</a>
                        </div>
                    </form>
                    <!-- Submit -->
                    <div class="logBtn">
                        <button  id="logBtn"class="btn " type="submit">Edit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <script src="../js/jquery-3.6.0.min.js"></script>
    <script src="../js/popper.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="log.js"></script>
</body>

</html>
