<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form student-affair</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/all.min.css">
    <link rel="stylesheet" href="../css/fontawesome.min.css">
    <link rel="stylesheet" href="../css/solid.min.css">
    <link rel="stylesheet" href="../css/regular.min.css">
    <link rel="stylesheet" href="viewSt.css">
</head>
<body>

  <!-- navbar -->   
  <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
    <a class="navbar-brand" href="../home/home.html">
        <div class="logoBox">
            <img src="../img/logo.jpg" alt="logo" width="60" height="60">
        </div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="nav navbar-nav ">
          
          
             <!-- logout -->
             <li class="nav-item">
                <a class="nav-link" href="viewSt.html"><i class="fa-solid fa-arrow-right"></i></a>
            </li>
        </ul>
    </div>
</nav>


<!-- form -->
    <div class="container  col-10 m-auto py-5">
        <form>
        <!-- <form onsubmit="event.preventDefault();onFormSubmit();" autocomplete="off"> -->
    
            <div class="form-group"> 
                <label>Name</label>              
                <!-- <label>Name:*</label> -->
                <!-- <label class="validation-error hide" id="NameValidationError">This field is required.</label> -->
                <input  class="form-control"type="text"  id="nameInput" required>
            </div>
    
            <div class="form-group">
                <label for="emailInput">Email:</label>
                <!-- <label class="validation-error hide" id="ValidationError">This field is required.</label> -->
                <input  class="form-control"type="Email" id="emailInput">
            </div>
    
            <div class="form-group">
                <label for="passwordInput">Password:</label>
                <!-- <label class="validation-error hide" id="ValidationError">This field is required.</label> -->
                <input  class="form-control"type="Password" id="passwordInput">
                </div>
    
                <div class="form-group">
                    <label for="nationalIdInput">NationalId:</label>
                    <!-- <label class="validation-error hide" id="ValidationError">This field is required.</label> -->
                    <input  class="form-control"type="number" id="nationalIdInput">
                    </div>
    
                    <div class="form-group">
                        <label for="classInput">class:</label>
                        <!-- <label class="validation-error hide" id="ValidationError">This field is required.</label> -->
                        <input  class="form-control"type="number" id="classInput">
                        </div>
    
                        <div class="form-group">
                            <label for="studentIdInput">StudentId:</label>
                            <!-- <label class="validation-error hide" id="ValidationError">This field is required.</label> -->
                            <input  class="form-control"type="number" id="studentIdInput">
                            </div>
 <button class="btn btnSubmit btn-info "  onclick="addStudent();"  id="mainButn" >
      <a   href="viewSt.html" role="button">  Submit <a> </button>
                        
                           
                            </form>              
    </div>


    <!-- <a href="formSt-affir.html"><button  id="addBtn"class="btn " type="submit">Add Student</button></a>  -->




</body>
<script src="../js/jquery-3.6.0.min.js"></script>
<script src="../js/popper.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="viewSt.js"></script>
</html>