<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Affairs home</title>
    
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/all.min.css">
    <link rel="stylesheet" href="../css/fontawesome.min.css">
    <link rel="stylesheet" href="../css/solid.min.css">
    <link rel="stylesheet" href="../css/regular.min.css">
    <link rel="stylesheet" href="st-affair.css">
</head>
<body>
     
         <!-- navbar -->   
       <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
        <a class="navbar-brand" href="../home/home.html">
            <div class="logoBox">
                <img src="../img/logo.jpg" alt="logo" width="60" height="60">
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="nav navbar-nav ">
                <!-- View student -->
                <li class="nav-item ">
                    <a class="nav-link" href="viewSt.html"><i class="fa-solid fa-user-plus"></i>
                       </a>
                </li>
                <!--Edit profile  -->
                <li class="nav-item ">
                    <a class="nav-link" href="edit-profil.html"><i class="fa-solid fa-user-pen"></i></a>
                </li>
               
                 <!-- logout -->
                 <li class="nav-item">
                    <a class="nav-link" href="../home/home.html"><i class="fa-solid fa-right-to-bracket"></i></a>
                </li>
            </ul>
        </div>
    </nav>



        <!-- content -->
        <section class=" m-outo mt-4 mb-4 col-md-10 container  page">
            <img src="../img/27077-6-welcome-photos.png"  alt="Welcom pic">
        </section>




        <!-- FOOTER -->
       
        <footer>
            <div class=" footer">
                <div class="col-md-6 text-center">
                    <!-- ICONS -->
                    <div class="icons">
                        <!-- about -->
                        <a href="../About/about.html"><i class="fa-solid fa-user-group mx-2"></i>ABOUT</a>
                       <!-- contact us -->
                        <a href="../contact.html"><i class="fa-solid fa-envelope  mx-2"></i> Contact Us</a>   
                    </div>
                </div>
            </div>
        </footer>









    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="st-affair.js"></script>
</body>
</html>